.jumbotron-bg {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid $gray-lighter;
  margin-bottom: 30px;

  .container &,
  .container-fluid & {
    border-radius: $border-radius-large;
  }
}

.jumbotron-bg__image {
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.jumbotron-bg {
  .jumbotron {
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .jumbotron-bg__image img {
    @include img-responsive-vertical();
  }
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .jumbotron-bg__image img {
    @include img-responsive();
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
