<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }} - {{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/theme.css">
</head>
<body>
  <div class="container-fluid">

    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"{% if page.menu_key == 'about' %} class="active"{% endif %}>
            <a href="/about/">About</a>
          </li>
          <li role="presentation"{% if page.menu_key == 'contact' %} class="active"{% endif %}>
            <a href="/community/">Community</a>
          </li>
          <li role="presentation"{% if page.menu_key == 'help' %} class="active"{% endif %}>
            <a href="/help/">Help</a>
          </li>
        </ul>
      </nav>
      <h1>
        <a href="/">
          {% include logo.svg %}
        </a>
      </h1>
    </div>

    {{ content }}

    <footer class="footer">
      <p>siwapp is licensed under <a href="{{ site.license }}">MIT</a></p>
    </footer>
  </div>

  <script src="{{ site.baseurl }}/assets/javascripts/ie10.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>
